* {
	box-sizing: border-box;
}

body {
	background: linear-gradient(in hsl shorter hue, #9b8db6, #d0c27f);
	min-height: 100vh;
	font-variant: unicode;
}

p {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}

#container {
	overflow: auto;
	background-color: aqua;
	padding: 2rem;
	container: container / inline-size;
	resize: both;
}

#direct_child {
	background-color: beige;
	padding: 1rem;
}

#grandchild {
	background-color: #9b8db6;
}

@container container (width < 400px) {
	#direct_child {
		background-color: #000;

		#grandchild {
			background: red;
		}
	}
}
