* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #151517;
    min-height: 100vh;
}

button {
    font-family: Montserrat;
    font-size: 2rem;
    color: hsla(225, 77%, 88%, 0.8);
    text-shadow: 0px 0px 5px hsla(224, 100%, 89%, 0.35);
    padding: 2rem 4rem;
    border-radius: 1.5rem;
    background-color: transparent;
    box-shadow: 
        0px 0px 55px 0px hsla(235, 25%, 43%, 0.65) inset, 
        0px 0px 10px hsla(225, 46%, 72%, 0.1);
    border: none;
    transition: all 0.5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    backdrop-filter: blur(2px);

    &:after {
        content: "";
        position: absolute;
        bottom: -10%;
        left: 50%;
        transform: translateX(-50%);
        width: 65%;
        height: 45%;
        background-color: hsla(235, 25%, 43%, 0.5);
        border-radius: 50%;
        filter: blur(20px);
        transition: all 0.5s ease;
    }

    &:is(:hover, :focus-visible) {
        cursor: pointer;
        transform: translateY(-8%) scale(1.01);
        color: hsla(224, 100%, 94%, 0.8);
        text-shadow: 0px 0px 5px hsla(224, 100%, 92%, 0.4);
        box-shadow: 
            0px 0px 55px 0px hsla(235, 25%, 49%, 0.65) inset,  
            0px 0px 25px hsla(225, 46%, 72%, 0.1);

        &:after {
            bottom: -12%;
        }
    }

    &:focus-visible {
        outline: 1px solid hsla(223, 59%, 84%, 0.7);
        outline-offset: 4px;
    }

    &:active {
        transform: scale(0.99);
        color: hsla(222, 18%, 81%, 0.8);
        text-shadow: 0px 0px 5px hsla(225, 39%, 81%, 0.35);
        box-shadow: 
            0px 0px 55px 0px hsla(233, 24%, 37%, 0.65) inset, 
            0px 0px 25px hsla(225, 14%, 48%, 0.125);

        &:after {
            background-color: hsla(235, 22%, 37%, 0.4);
        }
    }
}